@import url("https://fonts.googleapis.com/css?family=Muli:900&display=swap");
/*botones con diferencia de constraste*/
.botonIndex {
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: open;
  font-weight: 300;
  font-size: 25px;
  font-style: open;
  color: #030303;
  background-color: #dbabab;
  border-radius: 20px;
  border: 6px double #bc8f8f;
  font-size: 29px;
  text-align: center;
  cursor: pointer;
  margin-left: 85px;
}
.botonIndex:hover {
  opacity: 0.6;
  text-decoration: none;
}

.botonagregarproducto {
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: open;
  font-weight: 300;
  font-size: 25px;
  font-style: open;
  color: #030303;
  background-color: #dbabab;
  border-radius: 15px;
  border: 3px double #bc8f8f;
}
.botonagregarproducto:hover {
  opacity: 0.6;
  text-decoration: none;
}
.botonvolveralinicio {
  float: right;
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: open;
  font-weight: 300;
  font-size: 25px;
  font-style: open;
  color: #070707;
  background-color: #e3d1d1;
  border-radius: 15px;
  border: 3px double #bc8f8f;
  margin-bottom: 30px;
}
.botonvolveralinicio:hover {
  opacity: 0.2;
  text-decoration: none;
}

.botoneditar {
  float: center;
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: open;
  font-weight: 300;
  font-size: 25px;
  font-style: open;
  color: #070707;
  background-color: #e3d1d1;
  border-radius: 15px;
  border: 3px double #bc8f8f;
}
.botoneditar:hover {
  opacity: 0.2;
  text-decoration: none;
}

.guardarproducto {
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: open;
  font-weight: 300;
  font-size: 25px;
  font-style: open;
  color: #030303;
  background-color: #dbabab;
  border-radius: 15px;
  border: 3px double #bc8f8f;
}
.guardarproducto:hover {
  opacity: 0.2;
  text-decoration: none;
}
.botonguardar {
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: open;
  font-weight: 300;
  font-size: 25px;
  font-style: open;
  color: #bc8f8f;
  background-color: #bc8f8f;
  border-radius: 15px;
  border: 3px double #bc8f8f;
}
.botonguardar:hover {
  opacity: 0.2;
  text-decoration: none;
}
.botonguardarvendedor {
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: open;
  font-weight: 300;
  font-size: 25px;
  font-style: open;
  color: #0a0a0a;
  background-color: #dbabab;
  border-radius: 15px;
  border: 3px double #bc8f8f;
}
.botonguardarvendedor:hover {
  opacity: 0.2;
  text-decoration: none;
}
.botonvendedores {
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: open;
  font-weight: 300;
  font-size: 25px;
  font-style: open;
  color: #070707;
  background-color: #bc8f8f;
  border-radius: 15px;
  border: 3px double #bc8f8f;
}
.botonvendedores:hover {
  opacity: 0.2;
  text-decoration: none;
}
.botontoreset {
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: open;
  font-weight: 300;
  font-size: 25px;
  font-style: open;
  color: #070707;
  background-color: #dbabab;
  border-radius: 15px;
  border: 3px double #bc8f8f;
}
.botontoreset:hover {
  opacity: 0.2;
  text-decoration: none;
}

.botonMenu {
  margin: 25px;
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: open;
  font-weight: 300;
  font-size: 25px;
  font-style: open;
  color: #070707;
  background-color: #dbabab;
  border-radius: 15px;
  border: 3px double #bc8f8f;
  margin-left: 200px;
}
.botonMenu:hover {
  opacity: 0.2;
  text-decoration: none;
}

#botonHistorial {
  margin-left: 31%;
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: open;
  font-weight: 300;
  font-size: 25px;
  font-style: open;
  color: #070707;
  background-color: #dbabab;
  border-radius: 15px;
  border: 3px double #bc8f8f;
}

/*! botones a refactorizar*/

.toreset {
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: open;
  font-weight: 300;
  font-size: 25px;
  font-style: open;
  color: #070707;
  background-color: #bc8f8f;
  border-radius: 15px;
  border: 3px double #bc8f8f;
}

.botoncuentavendedores {
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: open;
  font-weight: 300;
  font-size: 25px;
  font-style: open;
  color: #000000;
  background-color: #dbabab;
  border-radius: 15px;
  border: 3px double #bc8f8f;
}
.botoncuentavendedores:hover {
  opacity: 0.2;
  text-decoration: none;
}

.registro {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}
.sundo {
  margin: 0;
  padding: 0;
  text-align: right;
}

/*! botones a refactorizar*/

body {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: auto;
  background-color: rosybrown;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='40' viewBox='0 0 24 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40c5.523 0 10-4.477 10-10V0C4.477 0 0 4.477 0 10v30zm22 0c-5.523 0-10-4.477-10-10V0c5.523 0 10 4.477 10 10v30z' fill='%23a8e6ea' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  font-family: open sans;
  height: 100vh;
}

/*?Index*/

.titulo {
  margin-bottom: 50px;
}

.contenedorIndex {
  width: 350px;
  height: 420px;
  background-color: rosybrown;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000;
}

.contenedorIndex .imagen {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.contenedorIndex h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  color: black;
}

.contenedorIndex input {
  width: 100%;
  margin-bottom: 20px;
}

.contenedorIndex input[type="text"],
.contenedorIndex input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 25px;
}
/*?Index*/

/*?Menu*/

.contenedorMenu {
  width: 600px;
  height: 450px;
  background-color: rosybrown;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000;
}

.contenedorMenu .imagen {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.contenedorMenu h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  color: black;
}

/*?Menu*/

/*?Contenedores*/
.contenedorProductoFormCrear {
  margin: 60px auto;
  width: 900px;
  height: 380px;
  background-color: rosybrown;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000;
}

.contenedorVendedorFormCrear {
  margin: 60px auto;
  width: 900px;
  height: 580px;
  background-color: rosybrown;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000;
}

.contenedorProductoFormEditar {
  margin: 60px auto;
  width: 900px;
  height: 500px;
  background-color: rosybrown;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000;
}

.contenedorVendedorFormEditar {
  margin: 60px auto;
  width: 900px;
  height: 560px;
  background-color: rosybrown;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000;
}

.contenedorListar {
  margin: 60px auto;
  height: auto;
  background-color: rosybrown;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000;
}

/*?Contenedores*/

/*?Fuentes de Letra*/
.fontLabel {
  font-size: 25px;
  font-weight: bold;
  text-align: right;
  font-family: "open-sans";
}

.fontInput {
  font-size: 25px;
  font-weight: normal;
  text-align: left;
  font-family: "open-sans";
  text-shadow: #fff;
}

h1 {
  margin: 0px;
  padding: 0;
  text-align: center;
  font-size: 40px;
  color: black;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  text-shadow: 1px 1px 2px white, 0 0 2em white, 0 0 0.2em white;
}
/*?Fuentes de Letra*/

/*?ajustes detallados en inputs*/
input[type="number"]::-webkit-inner-spin-button {
  opacity: 0;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2.3px solid green;
}
input[type="radio"] {
  border: 0px;
  width: 50%;
  height: 1.5em;
}

/*?ajustes detallados en inputs*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
}
