<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Distribuidora de helados</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="../imagen.png" />
    <link rel="stylesheet" type="text/css" href="../style.css" />
  </head>
  
  
  <body>
    <header>
      <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
      th:text="${mensaje}"
      class="alert alert-danger">
      </div>

    </header>
    <div class="contenedorIndex">
      <img class="imagen" src="imagen.png" />
      <h1>Inicio de sesion</h1>
      <br></br>
      <form th:action="@{/usuarioLogin}" th:object="${usuarios}" method="POST">
        <label for="correo">Correo</label>
        <input
          type="text"
          placeholder=" Escribe tu Correo"
          th:field="*{email}"
          required
        />
        <!-- contraceña-->
        <label for="password">Contraseña</label>
        <input
          type="password"
          placeholder=" Escribe tu Contraseña"
          th:field="*{password}"
          required
        />

        <!--boton-->
        <button type="submit" class="botonIndex">Enviar</button>
      </form>
      
    </div>

  </body>
</html>
